.sidebar{
  width: 25%;
  border-right: 1px solid #ede9e9;
}

.contactList{
  height: 86vh;
  overflow-y: scroll;
}

.contactList::-webkit-scrollbar {
  display: none;
}

.searchbox{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  height: 6vh;
}

.search{
  display: flex;
  align-items: center;
  background-color: #ede9e9;
  padding-left: 1vh;
  color: #5d5a5a;
  font-size: 22px;
}

.searchbox input{
  background-color: #ede9e9;
  color: #746d6d;
  border: none;
  padding: 2vh;
  width: 70%;
  font-size: 16px;
}

.searchbox input:focus {
  outline: none;
}

.profile{
  display: flex;
  align-items: center;
  width: 88%;
  margin: 1vh auto;
  cursor: pointer;
  padding: 1vh;
}

.activeProfile{
  background-color: #080404;
  color: white;
  border-radius: 5px;
}

.activeProfile span{
  color: white;
}

.messageDiv{
  width: 70%;
}

.timeDiv{
  text-align: right;
  height: 100%;
}

.imageDiv img{
  height: 7vh;
  border-radius: 50%;
  margin-right: 1vw;
}

.name{
  font-size: 15px;
  font-weight: 600;
}

.firstMessage{
  font-size: 12px;
  color: #5d5a5a;
}

.time{
  font-size: 12px;
  color: #979292;
}

.conversationBox{
  display: flex;
  align-items: center;
  width: 88%;
  margin: auto;
  justify-content: space-between;
  margin-top: 3vh;
}

.conversationBox span{
  font-size: 12px;
  color: #5e5b5b;
  font-weight: bolder;
}

.conversationBox div{
  font-size: x-large;
  color: #5e5b5b;
}

.plusIcon{
  cursor: pointer;
}